body {
  position: relative;
  margin: 0 auto;
  font-family: "PT Sans", arial, sans-serif;
  color: #000000;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
}

input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
}

.hidden {
  display: none;
}
